body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background-image: url( '336.gif');
}

#page
{
	margin-top: 10px;
	margin-bottom: 10px;
	/*background-color: transparent ;*/
	background-image: url('light.png');
	border: 1px solid #121c28;
	border:2px solid;
    border-radius:35px;
}

#header
{
	margin-top: 30px;
	padding: 0;
	background-image: url( 'headlog2 copy5.jpg' );
	background-repeat: no-repeat;
	height: 200px;
	 border-radius:8px;
	
}
#Sublogo {

	left:180px;
	top:18px;
	width:210px;
	height:200px;
	z-index:1;
	background-image: url('');
}
#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;

	border-top: 1px solid #627aad;

}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
	color: #231f20;
}

#mainmenu
{
	/* background:white url(bg.gif) repeat-x left top; */
	/*background-color: #231f20;*/
		background-image: url('JSHd.jpg');
	 /*background-color: #dbab21;*/ 
	 
	 
}

#mainmenu ul
{
	list-style: none; 
	margin: 0; 
	padding: 0; 
	position: relative; 
	height: 26px; 
	/*padding:6px 20px 5px 20px;
	margin:0px;*/
}

#mainmenu ul li
{
	display: block; 
	height: 28px; 
	float: left; 
	overflow: visible;
}
#mainmenu ul li:hover > ul 
{ 
	display: block; 
}
 

/* dark superman blue: #121c28 */
/* superman red: #c3352b */
/* superman yellow: #fdf4a5 */

#mainmenu ul li a
{
	float: left;
	display: block;
	color: #dbab21;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
	
}

#mainmenu ul li ul 
{ 
	
	display: none; 
	position: absolute; 
	top: 100%;
    background-image: url('JSHd.jpg');
	border-left: 5px solid #090909;

	color: #fff; 
	height: auto;

}
#mainmenu ul li ul li a 
{ 
	
	color: black; 
	padding: 4px 14px;
	display: block; 
	width: 148px;
	
}

#mainmenu ul li ul li{clear: left;}.active a


#mainmenu ul li ul li a:hover 
{ 

color: #fff; 

}


#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #231f20;
	background-color: #dbab21;
	
	text-decoration:none;
	
}
#mainmenu ul li ul li a
{
	float: left;
	display: block;
	color: #dbab21;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li ul li ul 
{ 
	
	display: none; 
	position: absolute; 
	top: 100%;
    background-image: url('JSHd.jpg');
	color: #fff; 
	height: auto;
}

#mainmenu ul li ul li ul li{clear: left;}.active a



div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #232322;
	border-left: 5px solid #090909;
	
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #DBAB21;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 10px 0;
	padding: 5px 8px;
	background-image:url('JSHd.jpg');
	-moz-border-radius-bottomright: 50px 25px;
	border-bottom-right-radius: 50px 25px;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

.operations li
{
	padding-bottom: 2px;
	
}

.operations li a
{
	font: bold 12px Arial;
	
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
	color:#DBAB21;
		
}

.operations li a:visited
{
	color: #DBAB21;
}

.operations li a:hover
{
	background: #dbab21;
	color: #111111;
	-moz-border-radius-bottomright: 50px 25px;
	border-bottom-right-radius: 50px 25px;
	
}
